        </div>
    <div class="app__pull"></div>
</div>

<div class="footer">
    <div class="footer__copyright">© 2017 MAPS.ME</div>
    <div class="footer__menu">
        <div class="menu menu_footer">
            <a href="#" class="menu__item">Help</a>
            <a href="#" class="menu__item">Privacy Policy</a>
            <a href="#" class="menu__item">Support</a>
            <span class="menu__item">
                    <select name="language">
                        <option value="en">English</option>
                        <option value="ru">Русский</option>
                    </select>
                </span>
        </div>
    </div>
</div>