<div class="app">

    <div class="header">
        <div class="logo">
            MAPS.ME <span class="logo__blue">Business</span>
        </div>

        <div class="mobile-menu">
            <a href="#" class="mobile-menu__open">
                <i class="icon icon_24 icon_menu"></i>
            </a>

            <div class="mobile-menu__list">
                <a href="#" class="mobile-menu__close">
                    <i class="icon icon_24 icon_close"></i>
                </a>
                <a href="#" class="mobile-menu__item">Help</a>
                <a href="#" class="mobile-menu__item">Privacy Policy</a>
                <a href="#" class="mobile-menu__item">Support</a>
                <span class="mobile-menu__item">
                        <select name="language">
                            <option value="en">English</option>
                            <option value="ru">Русский</option>
                        </select>
                    </span>
            </div>
        </div>
    </div>

    <div class="content">