<!-- other -->
<link rel="stylesheet" href="../../css/other/typography/h/h2.css">
<link rel="stylesheet" href="../../css/other/typography/a.css">
<!-- blocks -->
<link rel="stylesheet" href="../../css/blocks/button/button.css">
<link rel="stylesheet" href="../../css/blocks/button/button_with_icon.css">
<link rel="stylesheet" href="../../css/blocks/button/button_facebook.css">
<link rel="stylesheet" href="../../css/blocks/tile.css">
<link rel="stylesheet" href="../../css/blocks/icon.css">


<div class="tile tile_page_phone">
    <div class="h h2 mb20">Sing In</div>

    <a href="#" class="button button_with_icon button_full button_facebook">
        <i class="icon icon_24 icon_facebook"></i> Facebook
    </a>

    <a href="#" class="button button_with_icon button_full mt20">

        <i class="icon icon_24 icon_google"></i> Google
    </a>

    <a href="#" class="button button_with_icon button_full mt20">
        <i class="icon icon_24 icon_osm"></i> OpenStreetMap
    </a>
</div>


<script src="../../js/vendor/jquery.documentReady.js"></script>
<script src="../../js/other/utils.js"></script>
<script src="../../js/blocks/mobile-menu.js"></script>
<script src="../../js/pages/passport-sign-in.js"></script>