<!-- other -->
<link rel="stylesheet" href="../../css/other/typography/typography_total.css">
<!-- vendor -->
<link rel="stylesheet" href="../../css/vendor/flags.min.css">
<!-- blocks -->
<link rel="stylesheet" href="../../css/blocks/button/button.css">
<link rel="stylesheet" href="../../css/blocks/button/button_blue.css">
<link rel="stylesheet" href="../../css/blocks/flags.css">
<link rel="stylesheet" href="../../css/blocks/country-row.css">
<link rel="stylesheet" href="../../css/blocks/phone-country.css">
<link rel="stylesheet" href="../../css/blocks/icon.css">
<link rel="stylesheet" href="../../css/blocks/tile.css">


<form action="/" method="post" class="tile tile_page_phone">
    <div class="h h2 mb20">Please, enter your mobile phone number</div>
    <div class="paragraph">We will send a verification code to your phone number</div>

    <!--
        error:
            add class 'phone-country_error'
        disabled:
            add class 'phone-country_disabled' and 'disabled' prop to input
    -->
    <div class="phone-country mt10" data-cc="RU">
        <div class="phone-country__cloud">
            Invalid a phone number, try again

            <div class="phone-country__cloud-arrow"></div>
        </div>
        <div class="phone-country__select">
            <div class="flags">
                <div class="flags__current">
                    <img src="img/blank.gif" class=""/>
                    <div class="flags__arrow"></div>
                </div>
                <div class="flags__list-wrapper">
                    <div class="flags__list">
                    </div>
                </div>
            </div>
        </div>

        <div class="phone-country__input">
            <input type="tel" class="country-mask" pattern="\d*">
        </div>

        <div class="phone-country__icon">
            <i class="icon icon_16 icon_check_empty"></i>
        </div>
    </div>

    <button type="submit" class="button button_submit button_full button_blue mt40" disabled="disabled">Send code</button>

    <p class="mt30">By signing up, I accept <a href="">Privacy Policy</a></p>

    <input type="hidden" id="phone_number_0" name="phone_number_0">
    <input type="hidden" id="phone_number_1" name="phone_number_1">
</form>


<!-- vendor -->
<script src="../../js/vendor/zepto.min.js"></script>
<script src="../../js/vendor/jquery.mask.min.js"></script>
<!-- other -->
<script src="../../js/other/utils.js"></script>
<!-- blocks -->
    <script>
	    var path_to_phone_codes = "{% static 'passport/js/data/phone-codes.json' %}"
	    var path_to_blank_gif = "{% static 'passport/img/blank.gif' %}"
	</script>
<script src="../../js/blocks/phone-country.js"></script>
<script src="../../js/blocks/mobile-menu.js"></script>
<!-- page -->
<script src="../../js/pages/passport-phone.js"></script>