{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Enter code' %}{% endblock %}

{% block additional_css%}
<!-- other -->
<link rel="stylesheet" href="{% static 'passport/css/other/typography/typography_total.css' %}">
<!-- blocks -->
<link rel="stylesheet" href="{% static 'passport/css/blocks/button/button.css' %}">
<link rel="stylesheet" href="{% static 'passport/css/blocks/button/button_blue.css' %}">
<link rel="stylesheet" href="{% static 'passport/css/blocks/icon.css' %}">
<link rel="stylesheet" href="{% static 'passport/css/blocks/tile.css' %}">
<link rel="stylesheet" href="{% static 'passport/css/blocks/field-text.css' %}">
{% endblock %}

{% block content %}
    <form method="post" class="tile tile_page_phone">
        {% csrf_token %}
        {{ form.phone_number }}

        <div class="h h2 mb20">{% trans 'Please, enter the code' %}</div>
        <div class="paragraph">{% blocktrans with ph_number=form.initial.phone_number.as_international %}We sent a verification code to your phone number <span>{{ ph_number }}</span>{% endblocktrans %}</div>

        {% comment "Help note" %}
            success:
                add class 'field-text_success'
            error:
                add class 'field-text_error'
            disabled:
                add class 'field-text_disabled' and 'disabled' prop to input
        {% endcomment %}

        <div class="field-text field-text_with_icon mt10 {% if form.errors %}field-text_error{% endif %}">
            <div class="field-text__cloud">
                {% trans 'Invalid verification code. Please, try again.' %}

                <div class="field-text__cloud-arrow"></div>
            </div>
            <div class="field-text__input-wrap">
                <input type="text" class="field-text__input" id="id_code" maxlength="6" name="code" value="" placeholder="eg. 123456" pattern="\d*" autofocus>
            </div>
            <div class="field-text__icon">

            </div>
        </div>

        <button type="submit" class="button button_submit button_full button_blue mt40" disabled="disabled">{% trans 'Submit' %}</button>
    </form>
{% endblock %}

{% block additional_js%}
<!-- vendor -->
<script src="{% static 'passport/js/vendor/jquery.documentReady.js' %}"></script>
<!-- other -->
<script src="{% static 'passport/js/other/utils.js' %}"></script>
<!-- blocks -->
<script src="{% static 'passport/js/blocks/field-text.js' %}"></script>
<script src="{% static 'passport/js/blocks/mobile-menu.js' %}"></script>
<!-- page -->
<script src="{% static 'passport/js/pages/passport-code.js' %}"></script>
{% endblock %}
